<div class="continer">
  <div class="col-md-6 col-sm-10 mx-auto">
    <div class="card mt-5">
      <h2 class="card-title text-center mt-3">会員登録</h2>

      <%= form_with model: @user, url: user_registration_path do |f| %>
        <%= render "devise/shared/error_messages", resource: resource %>

        <div class="card-body">
          <div class="form-group">
            <%= f.label :name %>
            <%= f.text_field :name, class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password %>
            <% if @minimum_password_length %>
              <em>(<%= @minimum_password_length %> characters minimum)</em>
            <% end %>
            <%= f.password_field :password, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group">
            <%= f.label :password_confirmation %>
            <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control" %>
          </div>

          <div class="form-group text-center">
            <%= f.submit "登録する", class: "btn btn-success" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row my-3 ml-2">
      登録済みの方はこちらから<%= link_to "ログイン", new_user_session_path %></p>
    </div>
  </div>
</div>
